#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	dh_auto_install

	# remove test code messages
	rm -rfv debian/gka-toolkit-qt/usr/*/locale/en_US/LC_MESSAGES/localizedApp.mo
	rm -rfv debian/gka-toolkit-qt/usr/*/locale/en_US/LC_MESSAGES/relativeTime.mo
